/* pdf에 정의된 초기화는 미리 작성 해두었습니다. */
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

h4 {
	font-size: 20px;
	font-weight: bold;
	font-family: Arial;
}

p {
	font-size: 16px;
	font-family: Arial;
}

/* 아래에 카드 레이아웃을 직접 만들어보세요. */

.item {
	width: 700px;
	height: 630px;
	border: 2px solid black;
	padding: 18px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.image {
	height: 350px;
	background-image: url(images/영금정_2.jpg);
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}

.image-title {
	height: 30px;
	color: white;
	background-color: rgba(116, 116, 116, 0.8);
}

.title {
	display: flex;
	justify-content: space-between;
	border-bottom: 1.5px solid rgb(228, 228, 228);
	padding-bottom: 5px;
	margin-bottom: 10px;
}

.description {
	background-color: rgb(255, 239, 194);
	padding: 10px;
}

.like {
	background-color: rgb(228, 228, 228);
	padding: 5px;
}